<div class="social-icons  widget-social-icons  push-down-30">
    <h6>Social</h6>
    {{ with .Site.Social.twitter }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-twitter"></i></a>
    {{ end }}
    {{ with .Site.Social.googleplus }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-google"></i></a>
    {{ end }}
    {{ with .Site.Social.facebook }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-facebook"></i></a>
    {{ end }}
    {{ with .Site.Social.linkedin }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-linkedin"></i></a>
    {{ end }}
    {{ with .Site.Social.youtube }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-youtube"></i></a>
    {{ end }}
    {{ with .Site.Social.paypal }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-paypal"></i></a>
    {{ end }}
    {{ with .Site.Social.instagram }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-instagram"></i></a>
    {{ end }}
    {{ with .Site.Social.wordpress }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-wordpress"></i></a>
    {{ end }}
    {{ with .Site.Social.pinterest }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-pinterest"></i></a>
    {{ end }}
    {{ with .Site.Social.email }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-email"></i></a>
    {{ end }}
    {{ with .Site.Social.reddit }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-reddit"></i></a>
    {{ end }}
    {{ with .Site.Social.github }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-github"></i></a>
    {{ end }}
    {{ with .Site.Social.flickr }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="zocial-flickr"></i></a>
    {{ end }}
    {{ with .Site.Social.slideshare }}
    <a class="social-icons__container" target="_blank" href="{{ . }}"><i class="fa fa-slideshare fa-lg"></i></a>
    {{ end }}
</div>

