{{ range $key, $value := .Site.Taxonomies }}
    {{ if eq $key "categories" }}
        <div class="row">
            <div class="col-md-11 col-md-offset-1 card">
                <h4>Categories</h4>
                <div class="hline"></div>
                <ul class="list-unstyled posts-recent">
                    {{ range first 5 $value.ByCount }}
                    <p><a href="{{ $.Site.BaseURL}}{{ $key | pluralize }}/{{ .Name | urlize }}"><i class="fa fa-angle-right"></i> {{ .Name }}<span class="badge badge-theme pull-right">{{ .Count }}</span></a></p>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="spacing"></div>
    {{ end }}
{{ end }}
