<div id="footerwrap">
    <footer class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ .Site.Title }}   @
                {{ .Site.Params.author }}</p>
                <p>{{ .Site.Params.footer_description }}</p>
            </div>
            <div class="col-lg-4">
                {{ partial "widgets/footer/social.html" . }}
            </div>
            <div class="col-lg-4">
                {{ partial "widgets/footer/links.html" . }}
            </div>
        </div>
    </footer>
</div>

