<footer class="footer">
    <div class="container">
        <div class="col-xs-12 col-md-4">
            <div class="widget-about  push-down-30">
                <h6>{{ .Site.Title }} @ {{ .Site.Params.author }}</h6>
                <hr>
                <span class="footer__text">{{ .Site.Params.footer_description }}</span>
                <br>
                <br>
                <div class="social-icons  widget-social-icons">
                    <a href="#" class="social-icons__container"> <span class="zocial-facebook"></span> </a>
                    <a href="#" class="social-icons__container"> <span class="zocial-twitter"></span> </a>
                    <a href="#" class="social-icons__container"> <span class="zocial-youtube"></span> </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="tags widget-tags">
                <h6>部落格分類</h6>
                <hr>
                {{ range .Site.Params.blog_categories }}
                <a class="tags__link" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <nav class="widget-navigation  push-down-30">
                <h6>Menu</h6>
                <hr>
                <ul class="navigation">
                {{ range .Site.Menus.header }}
                    <li>
                        <a href="{{ .URL }}"> {{ .Name }} </a>
                  </li>
                {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</footer>
