<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "navigation/navigation.html" . }}
        <div id="blue">
            <div class="container">
                <div class="row">
                    <h3>{{ .Params.Description }}</h3>
                </div>
            </div>
        </div>

        <div class="container mtb">
            <div class="row">
                <div class="col-md-8">
                    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
                    {{ range $paginator.Pages }}
                        <div class="row">
                            <div class="col-md-12 content-card">
                                {{ if isset .Params "relative_banner" }}
                                <img class="img-responsive" src="/img/{{ .Params.relative_banner }}" width="100%">
                                {{ else if isset .Params "absolute_banner" }}
                                <img class="img-responsive" src="{{ .Params.absolute_banner }}" width="100%">
                                {{ end }}
                                <a href="{{ .Permalink }}"><h2 class="ctitle">{{ .Title }}</h2></a>
                                <p><i class="fa fa-calendar"></i> <csmall>{{ .Date.Format "January 2, 2006" }}</csmall></p>
                                {{ .Summary }}
                                <a class="btn btn-link pull-right" href="{{ .Permalink }}">[Read More]</a>
                            </div>
                        </div>
                        <div class="hline"></div>
                        <div class="spacing"></div>
                    {{ end }}
                    {{ partial "pagination.html" . }}
                </div>
                <div class="col-md-4">
                    {{ partial "widgets/sidebar/search.html" . }}
                    {{ partial "widgets/sidebar/recent.html" . }}
                    {{ partial "widgets/sidebar/adsense.html" . }}
                    {{ partial "widgets/sidebar/categories.html" . }}
                    {{ partial "widgets/sidebar/tags.html" . }}
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "foot.html" . }}
    </body>
</html>
